.card{
    /*background-color: #1a237e;*/
    border: 3px solid;
    color: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    
    display: flex;
    flex-direction: column;
    max-width: 500px;
    min-width: 500px;
}

.card .title{
   padding: 20px 0px 20px 10px;
   justify-content: center;
   text-justify: auto;
   font-size: x-large;
   display: flex;
}

.card .content{
    background-color: #1e88e5;
    padding: 10px 0px 10px 20px;
    flex: 1;
    text-justify: newspaper;
}

.btn {
    margin-top: 3px;
    padding: 5px;
    align-content: center;
}

.root{
    display: 'flex';
    flex-Wrap: 'wrap';
    flex-direction: column;
    
}
.root .margin{
    margin: 5px;
    
}

.root .nome{
    width: 415px;
    margin: 5px;
}

.root .perfil{
    width: 200px;
    margin: 5px;
}

.orgao{
    width: 200px;
    margin: 5px;
}

.container{
    display: 'flex';
    flex-wrap: 'wrap';
}
.textField{
    margin-Left: 5px;
    margin-Right: 5px;
    
}

.container-responsive{
    position: relative;
    width: 1534px;
    padding: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
}

.container-responsive .card-responsive{
    position: relative;
    width: 300px;
    height: 420px;
    background: #fff;
    margin: 5px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 25px rgba(238, 238, 241, 0.2);
    transition: 0.5s;
}

.container-responsive:hover .card-responsive{
    filter: blur(3px);
    transform: scale(0.9);
    opacity: 0.9;
}

.container-responsive .card-responsive:hover {
    filter: blur(0px);
    transform: scale(1.1);
    opacity: 1;
}

.container-responsive .card-responsive .circle-responsive{
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    clip-path: circle(190px at center -100px);
    text-align: center;
}

.container-responsive .card-responsive .circle-responsive img{
    flex: 1;
    align-self: center;
    text-align: left;
    position: relative;
    max-width: 25%;
    border: 2px;
    margin-top:5px;
    border-radius: 30%;
    background-color: #fff;
}

.container-responsive .card-responsive .content-responsive{
    position: absolute;
    bottom: 0px;
    padding: 10px;
    text-align: center;
}

.container-responsive .card-responsive .content-responsive h2,h3{
    color: #655;
    font-size: 1.5em;
    padding: 15px 0;
}

.container-responsive .card-responsive .content-responsive p{
    color: #655;
    text-align: justify;
}

.container-responsive .card-responsive .content-responsive .link{
    position: relative;
    display: block;
    width: 100%;
    padding: 10px 20px;
    background: #000;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
    margin-top: 20px;
}

.container-responsive .card-responsive:nth-child(1) .circle-responsive,
.container-responsive .card-responsive:nth-child(1) .content-responsive .link
{
    background: #ffaf00;
}

.container-responsive .card-responsive:nth-child(2) .circle-responsive,
.container-responsive .card-responsive:nth-child(2) .content-responsive .link
{
    background: #da2268;
}

.container-responsive .card-responsive:nth-child(3) .circle-responsive,
.container-responsive .card-responsive:nth-child(3) .content-responsive .link
{
    background: #bb02ff;
}

.container-responsive .card-responsive:nth-child(4) .circle-responsive,
.container-responsive .card-responsive:nth-child(4) .content-responsive .link
{
    background: #f4511e;
}

.container-slanted{
    flex: 1;
    background-color: #8e24aa;
    min-height: rem-calc(300);
    min-width: 100%;
    transform: skewY(-3deg);
    margin-top: 15px;
    margin-bottom: 15px;

}

.container-slanted .content{
    transform: skewY(3deg);
    padding: 20px;
}

.hero{
    background: url(../../img/dive_scuba.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 80vh;
    overflow: hidden;
    position: relative;
}

.hero::before {
    content:'';
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #fff;
    transform: skewY(10deg);
    transform-origin: right;
    top: 100%;
    left: -50%;
}

.hero::after {
    content:'';
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #fff;
    transform: skewY(-10deg);
    transform-origin: left;
    top: 100%;
    right: -50%;
}

.slatend-box{
    flex: 1;
    background-color: #8e24aa;
    box-shadow: 6px  6px 15px 0 #fff;
    left: 50%;
    max-width: 400px;
    min-height: 160px;
    position: relative;
    transform: translate(-50%);
    display: flex;
}

.slatend-box .text{
    flex: 0.7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-align: justify;
    padding: 5px;
    width: 80%;
    padding-top: 5px;
}

.slatend-box .text strong{
    font-weight: 400;
    background: none;
    color: #fff;
}

.slatend-box .image{
    max-width: 40%;
    flex: 1;
    background: url(../../img/creditcard.jpg) no-repeat center center;
    clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
    background-size: cover;
}

.saibamais{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 10vh 10vh 30vh;
    grid-template-areas: "t t"
                         "st st"
                         "main aside";

    grid-gap: 5px;
    background-color: #fff;
    justify-content: center;
    align-content: center;

}

.saibamais .titulo{
    background-color: pink !important;
    grid-area: t;
    display: flex;
    justify-content: center;
    align-items: center;
}

.saibamais .stitulo{
    background-color: darkorange !important;
    grid-area: st;
    display: flex;
    justify-content: center;
    align-items: center;
}

.saibamais .main{
    background: blue !important;
    grid-area: main;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-areas: "ic ic"
                         "tx tx";
    grid-template-rows: 50% 50%;
    grid-column: 1 / 1;
}

.saibamais .main .ic{
    display: flex;
    grid-area: ic;
    justify-content: center;
    align-items: center;
    
}

.saibamais .main .tx{
    display: flex;
    grid-area: tx;
    justify-content: center;
    align-items: center;
    
}

.saibamais .aside{
    background: green !important;
    grid-area: main;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-areas: "ica ica"
                         "txa txa";
    grid-template-rows: 50% 50%;
    grid-column: 2 / 2;
}
.saibamais .aside .ica{
    display: flex;
    grid-area: ica;
    justify-content: center;
    align-items: center;
    
}

.saibamais .aside .txa{
    display: flex;
    grid-area: txa;
    justify-content: center;
    align-items: center;
    
}

.saibamais .rodape{
    background: green !important;
    grid-area: f;
}